/* Modal form */
.modal-custom {
    font-family: 'Montserrat', sans-serif;
}
.modal-custom .ant-modal-body {
    padding-top: 40px;
}
.modal-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 1.31;
    text-align: center;
    color: var(--dark-grey);
}
.form-custom {
    margin-left: 30px;
    margin-right: 30px;
}
.form-custom .ant-form-item-has-error .ant-input,
.form-custom .ant-form-item-has-error .ant-input-affix-wrapper, 
.form-custom .ant-form-item-has-error .ant-input:hover,
.form-custom .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: rgba(246, 63, 69, 0.04);
    border: 1px solid var(--strawberry);
}
.form-custom .ant-form-item-explain {
    font-size: 12px;
}
.form-input {
    padding: 12px 24px;
    background-color: var(--white-two);
    border: none;
    font-size: 14px;
}